<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Heading</h1>
        <h3><%=["Hello","Namaste","Ram-Ram"][2]%></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos impedit atque, neque magnam asperiores dolores laboriosam est voluptates. Deleniti commodi facilis nostrum consequuntur tempora error eligendi quia odit id rem.
        Soluta explicabo enim labore sunt in eaque commodi mollitia, quaerat, vero eligendi perferendis fugiat et quidem magnam possimus error! Aliquam natus quisquam sit consectetur dignissimos nisi in, nemo nobis officiis.</p>
        <button>Click Me!</button>
    </body>
</html>